$primary-color: #4a90e2;
$secondary-color: #f4f4f4;
$header-bg-color: #4a90e2;
$header-text-color: #fff;
$row-even-bg-color: #fff;
$row-odd-bg-color: #f9f9f9;
$row-hover-bg-color: #e3f2fd;
$border-color: #ccc;
$cell-padding: 1rem;
$font-size: 1rem;
$border-radius: 8px;

:host {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.title {
  font-size: 2rem;
  width: 100%;
  text-align: center;
  text-decoration: underline;
  font-weight: 700;
  padding: 1rem;
}

.table-container {
  max-width: 100%;
  overflow: auto;
  margin: 1rem 0;
  border: 1px solid $border-color;
  border-radius: $border-radius;

  &::-webkit-scrollbar {
    height: 12px;
    width: 12px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: darken($primary-color, 15%);
    border-radius: $border-radius;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: $row-even-bg-color;

  thead {
    background-color: $header-bg-color;
    color: $header-text-color;

    th {
      padding: $cell-padding;
      text-align: left;
      border-bottom: 2px solid darken($border-color, 10%);
      font-weight: bold;
      font-size: 1.2rem;

      &:first-child {
        border-left: none;
      }
      &.sortable-header {
        cursor: pointer;
      }
    }
  }

  tbody {
    tr {
      &:nth-child(odd) {
        background-color: $row-odd-bg-color;
      }

      &:nth-child(even) {
        background-color: $row-even-bg-color;
      }

      &:hover {
        background-color: $row-hover-bg-color;
      }

      td {
        padding: $cell-padding;
        border-bottom: 1px solid $border-color;
        font-size: $font-size;

        &:first-child {
          border-left: none;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .table-container {
    max-width: 90%;
  }

  table {
    font-size: 0.95rem;
  }
}

@media (max-width: 768px) {
  .table-container {
    max-width: 80%;
  }

  table {
    font-size: 0.9rem;
  }

  thead {
    th {
      font-size: 1rem;
    }
  }
}

@media (max-width: 480px) {
  .table-container {
    max-width: 70%;
  }

  table {
    font-size: 0.85rem;
  }
}
